

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* background-color: #101720; */
    background-color: #020d19;
    /* background-color: #0d1717; */
 
  }

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
